<app-main-header></app-main-header>
<div class="main-container">
    <div class="container" style="padding-top:5vh;">
        <div class="main-title">
            <h1>{{ 'MAIN.title' | translate }}</h1>
        </div>
        <div class="main-text">
            <h5> {{ 'MAIN.subtitle' | translate }}</h5>
        </div>

        <section class="section-1">

            <h2>{{ 'MAIN.title2' | translate }}</h2>
            <h5>{{ 'MAIN.subtitle2' | translate }}</h5>

        </section>
    </div>
</div>
