:host {
    flex: 1;
    overflow-y: auto;

    .container {
        margin-left: 1vw;
        margin-top: 5vh;
    }
<<<<<<< HEAD
=======
    .form-group2 {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
    }
>>>>>>> 8688c8e... main,terms,privacy
}