<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
    <div class="container">
        <footer>
            <div class="row my-5 justify-content-center py-5">
                <div class="col-11">
                    <div class="row ">
                        <div class="col-xl-6 col-md-4 col-sm-4 col-12 my-auto mx-auto a no-margin-top">
                            <h3 class="text-muted mb-md-0 mb-5 bold-text"
                                (click)="navigateToMainPage()">{{ 'HEADER.company' | translate }}</h3>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-4 col-12">
                            <h6 class="mb-3 mb-lg-4 bold-text"><b>{{ 'FOOTER.menu' | translate }}</b></h6>
                            <ul class="list-unstyled">
                                <li (click)="navigateToMainPage()"> {{ 'FOOTER.home' | translate }}</li>
                                <li (click)="navigateToTerms()"> {{ 'FOOTER.terms' | translate }}</li>
                                <li (click)="navigateToPrivacy()"> {{ 'FOOTER.privacy' | translate }}</li>
                                <li (click)="navigateToFAQ()"> {{ 'FOOTER.faq' | translate }} </li>
                            </ul>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-4 col-12">
                            <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5">
                                <b>{{ 'FOOTER.address' | translate }}</b></h6>
                            <p class="mb-1">{{ 'FOOTER.street' | translate }}</p>
                            <p>{{ 'FOOTER.city' | translate }}</p>

                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-xl-6 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                            <p class="social text-muted mb-0 pb-0 bold-text margin-left-minus"> <span
                                    class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span> <span
                                    class="mx-2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span> <span
                                    class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span> <span
                                    class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span> </p><small
                                class="rights"><span>&#174;</span>{{ 'FOOTER.rights' | translate }}</small>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                            <h6 class="mt-55 mt-2 text-muted bold-text"><b>{{ 'FOOTER.email' | translate }}</b></h6>
                            <small class="hover"> <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                {{ 'FOOTER.emailAddress' | translate }} </small>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>