<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-section">
                <h1>Cookies</h1>
                <p>Chocolate</p>
                <p>Prime</p>
                <p>Yummy</p>
                <p>Creamy</p>
            </div>
            <div class="footer-section">
                <h1>Drinks</h1>
                <p>Beer</p>
                <p (click)="navigateToTerms()"> {{ 'FOOTER.terms' | translate }}</p>
                <p (click)="navigateToPrivacy()"> {{ 'FOOTER.privacy' | translate }}</p>
                <p (click)="navigateToFAQ()"> {{ 'FOOTER.faq' | translate }} </p>
            </div>
        </div>
    </div>
</div>