<div class="menu-inner-div">
    <div class="logo">
        <img src="/assets/img/logo.png" alt="logo">
    </div>

    <div class="logo-small">
        <img src="/assets/img/logo.png" alt="logo">
    </div>

    <div class="items">
        <div class="item" [routerLink]="['overview']" routerLinkActive="active-link">
            <div class="menu-icon-container">
                <fa-icon [icon]="['fas', 'home']"></fa-icon>
            </div>
            <span>
                {{ 'MENU.home' | translate }}
            </span>
        </div>

        <div *ngIf="(isAdmin$ | async)" class="item" [routerLink]="['users']" routerLinkActive="active-link">
            <div class="menu-icon-container">
                <fa-icon [icon]="['fas', 'users-cog']"></fa-icon>
            </div>
            <span>
                {{ 'MENU.users' | translate }}
            </span>
        </div>

        <div class="item" [routerLink]="['logout']" routerLinkActive="active-link">
            <div class="menu-icon-container">
                <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
            </div>
            <span>
                {{ 'MENU.signout' | translate }}
            </span>
        </div>

        <build-number-text class="build-number-text"></build-number-text>
    </div>
</div>
