:host {
    position: absolute;
    bottom: 16px;
    color: #DCDCDC;
    padding: 10px;
    width: 90%;
    text-align: center;

    fa-icon {
        margin-right: 8px;
        font-size: 20px;
    }
}