:host {
    flex: 1;
    overflow-y: auto;

    .container {
        margin-left: 1vw;
        margin-top: 5vh;
    }

    .table-div {
        margin-left: 3vw;
        margin-right: 3vw;
        margin-top: 2vw;
    }

    .form-group {
        margin-bottom: 0 !important;
    }

    .table-icon {
        width: 25px;
    }
}