//  single page scss
.entry-wrapper {
	box-shadow: 0 0 50px 0 rgba(var(--black-color), 0.1);
	padding: 30px;
}
.entry-single {
	.tag-list,.share-list {
		li {
			&:first-child {
				font-size: 20px;
				font-weight: 700;
				color: var(--title-color);
			}
		}
	}
	.entry-header {
		margin-bottom: 20px;
		img {
			width: 100%;
		}
	}
	.title {
		font-size: 24px;
	}
	p {
		span {
            color: var(--base-color);    
		}
    }
}
.page-header {
	height: 320px;
	background-repeat: no-repeat;
	background-size: cover;

	.page-header-content {

		h1 {
            margin-top: 250px;
			color: var(--white);
            font-weight: 700;
            font-family: "Roboto", sans-serif;
            line-height: 1.5;
		}
	}
}
.background-img{
	height: 500px;
}
h2 {

    margin-bottom: 1rem !important;
	color: var(--title-color);
}
p{
    margin-bottom: 1rem !important;
	color: var(--subtext-color);
}
ul li {
    margin-bottom: 1rem !important;
	color: var(--subtext-color);
}
