<app-main-header type="registrate"></app-main-header>
<div class="main-container" >
    <div class="main-view-div" *ngIf="!(backendUrlDown$ | async)">
        <form [formGroup]=loginForm class="loginForm" [hidden]="!(emailEnabled$ | async)">
            <div class="form-group">
                <label>
                    {{ 'PROFILE.email' | translate }}
                </label>
                <input type="text" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
                <label>
                    {{ 'PROFILE.password' | translate }}
                </label>
                <input type="password" class="form-control" formControlName="password">
            </div>
            <button class="btn btn-success" (click)="login()" [disabled]="!loginForm.valid">
                {{ 'PROFILE.login_button' | translate }}
            </button>
        </form>
        <div class="divider" *ngIf="(webRtcEnabled$ | async) && (emailEnabled$ | async)"></div>
        <div class="qr-code fixed-width" [hidden]="!(webRtcEnabled$ | async)">
            <div>
                <div *ngIf="websocketDisconnected" class="disconnect-overlay" (click)="refreshWebsocketDisconnect()">
                    <p>Disconnected! Click to refresh</p>
                </div>
                <canvas [ngClass]="websocketDisconnected ? 'disconnected-qr' : ''" #qrCodeCanvas></canvas>
            </div>
            <p *ngIf="!websocketDisconnected" class="qr-code-text">Login with the ProofMe App</p>
        </div>
        <div class="fixed-width mobile-button-div" *ngIf="(webRtcEnabled$ | async)">
            <p>Click here to login with the <b>ProofMe.ID App</b></p>
            <a [href]="mobileLoginUrl | safeUrl" class="btn btn-success mobile-button" target="_blank">Login</a>
        </div>
    </div>
    <div class="main-view-div" *ngIf="(backendUrlDown$ | async)">
        <div class="down-div">
            <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
            <p class="down-text">The portal backend is unreachable</p>
        </div>
    </div>
</div>

