:host {
<<<<<<< HEAD

    .main-view-div {
        left: 0;
        top: 0;
        background: linear-gradient(to bottom, rgba(92, 77, 66, 0.6) 0, rgba(92, 77, 66, 0.6) 100%), url(/assets/img/bg-tech.jpg) no-repeat;
        background-size: cover;
=======
    .background-img{
        left: 0;
        top: 0;
        background: linear-gradient(to bottom, rgba(92, 77, 66, 0.6) 0, rgba(92, 77, 66, 0.6) 100%), url(/assets/img/background.jpg) no-repeat;
        background-size: cover;
    }
    .main-view-div {
>>>>>>> 8688c8e... main,terms,privacy
        height: 100vh;
        width: 100%;
        overflow: hidden;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .qr-code {
        text-align: center;
        margin-bottom: 20px;
        padding-right: 20px;

        img {
            max-width: 200px;
        }
    }

    .qr-code-text {
        font-weight: 600;
    }

    .fixed-width {
        width: 350px;
    }

    .disconnect-overlay {
        position: absolute;
        z-index: 1;
        height: 210px;
        width: 210px;
        margin-left: 40px;

        &:hover {
            cursor: pointer;
        }

        p {
            padding-top: 85px;
            margin-left: 40px;
        }
    }

    .disconnected-qr {
        opacity: 0.2;
    }

    .loginForm {
        width: 400px;

        button {
            width: 100%;
        }
    }

    .divider {
        width: 1px;
        background: lightgray;
        height: 350px;
        margin-left: 55px;
    }


    .mobile-button-div {
        display: none;

        flex-direction: column;
        width: 100%;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: 1024px) {
        .qr-code {
            display: none;
        }

        .loginForm {
            width: 80%;
        }

        .main-view-div {
            flex-direction: column;
        }

        .divider {
            display: none;
        }

        .mobile-button-div {
            display: inherit;
            width: 80%;
        }

        .mobile-button {
            width: 100%;
        }
    }
}