<app-main-header></app-main-header>
<div class="background-img">
<div class="container">
    <div [ngClass]="!showMobileLogin ? 'main-view-div' : 'main-view-div-mobile'">
        <form [formGroup]=loginForm [ngClass]="!showMobileLogin ? 'loginForm' : 'loginForm-mobile'" [hidden]="!(emailEnabled$ | async)">
            <div class="form-group">
                <label>
                    {{ 'PROFILE.email' | translate }}
                </label>
                <input type="text" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
                <label>
                    {{ 'PROFILE.password' | translate }}
                </label>
                <input type="password" class="form-control" formControlName="password">
            </div>
            <button class="btn btn-success" [ngClass]="showMobileLogin ? 'mobile-button' : ''" (click)="login()" [disabled]="!loginForm.valid">
                {{ 'PROFILE.login_button' | translate }}
            </button>
        </form>
        <div [ngClass]="!showMobileLogin ? 'divider' : 'divider-mobile'" *ngIf="(webRtcEnabled$ | async) && (emailEnabled$ | async)"></div>
        <div class="qr-code fixed-width" [hidden]="!(webRtcEnabled$ | async) || showMobileLogin">
            <div>
                <div *ngIf="websocketDisconnected" class="disconnect-overlay" (click)="refreshWebsocketDisconnect()">
                    <p>{{ 'PROFILE.disconnected' | translate }}</p>
                </div>
                <canvas [ngClass]="websocketDisconnected ? 'disconnected-qr' : ''" #qrCodeCanvas></canvas>
            </div>
            <p *ngIf="!websocketDisconnected" class="qr-code-text">{{ 'PROFILE.loginProofme' | translate }}</p>
        </div>
        <div *ngIf="showMobileLogin && (webRtcEnabled$ | async)" class="fixed-width mobile-button-div">
            <p>{{ 'PROFILE.clickhere' | translate }}<b> {{ 'PROFILE.proofmeAPP' | translate }}</b></p>
            <a [href]="mobileLoginUrl | safeUrl" class="btn btn-success mobile-button" target="_blank">{{ 'PROFILE.login_button_app' | translate }}</a>
        </div>
    </div>
    <div class="main-view-div" *ngIf="(backendUrlDown$ | async)">
        <div class="down-div">
            <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
            <p class="down-text">The portal backend is unreachable</p>
        </div>
    </div>
</div>

