<app-main-header></app-main-header>
<div class="main-container">
    <div class="background-img">
        <!-- page-header start -->
        <section class="page-header d-flex align-items-center justify-content-center">
            <div class="page-header-content">
                <h1> {{ 'TITLE.privacy' | translate }}</h1>
            </div>
        </section>
    </div>

    <!-- page-header end -->

    <!-- innerpage-section -->
    <div class="container">
        <div class="inner-page-section mt---120 pt--170 pb--70 pb_lg-120 card">

            <div class="row">
                <main class="col-lg-12 main-content">
                    <div class="entry-wrapper">
                        <div class="entry-single">
                            <div class="entry-content">
                                <img src="/assets/img/logo.png" class="image">
                            </div>
                            <br>
                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.privacy.privacy_importance.title' | translate }}</h2>
                                <p>
                                    {{ 'index.privacy.privacy_importance.part1'  | translate }}
                                    <br>
                                </p>
                            </div>
                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.privacy.age_16.title' | translate }}</h2>
                                <p>
                                    {{ 'index.privacy.age_16.part1' | translate }}
                                    <br>
                                </p>
                            </div>
                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.privacy.personal_data.title' | translate }}</h2>
                                <p>
                                    {{ 'index.privacy.personal_data.part1' | translate }}
                                </p>
                            </div>
                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.privacy.permission.title' | translate }}</h2>
                                <p>
                                    {{ 'index.privacy.permission.part1' | translate }}<br>
                                    <br>
                                    {{ 'index.privacy.permission.part2' | translate }}
                                </p>
                            </div>
                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.privacy.data_collection.title' | translate }}</h2>
                                <p>
                                    {{ 'index.privacy.data_collection.part1' | translate }}
                                </p>
                            </div>
                            <div class="entry-content">
                                <h2 class="title mb-3">
                                    {{ 'index.privacy.gathering_personal_information.title' | translate }}</h2>
                                <p>
                                    {{ 'index.privacy.gathering_personal_information.part1' | translate }}
                                    <br>
                                    <br>
                                    {{ 'index.privacy.gathering_personal_information.list_header' | translate }}
                                    <br>
                                <ul>
                                    <li>{{ 'index.privacy.gathering_personal_information.list_1' | translate }}</li>
                                    <li>{{ 'index.privacy.gathering_personal_information.list_2' | translate }}</li>
                                    <li>{{ 'index.privacy.gathering_personal_information.list_3' | translate }}</li>
                                    <li>{{ 'index.privacy.gathering_personal_information.list_4' | translate }}</li>
                                    <li>{{ 'index.privacy.gathering_personal_information.list_5' | translate }}</li>
                                </ul>
                            </div>
                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.privacy.security.title' | translate }}</h2>
                                <p>
                                    {{ 'index.privacy.gathering_personal_information.part1' | translate}}
                                    <br>
                                    <br>
                                    {{ 'index.privacy.gathering_personal_information.list_header' | translate }}
                                    <br>
                                <ul>
                                    <li>{{ 'index.privacy.security.list_1' | translate }}</li>
                                    <li>{{ 'index.privacy.security.list_2' | translate }}</li>
                                    <li>{{ 'index.privacy.security.list_3' | translate }}</li>
                                    <li>{{ 'index.privacy.security.list_4' | translate }}</li>
                                    <li>{{ 'index.privacy.security.list_5' | translate }}</li>
                                </ul>
                            </div>
                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.privacy.links_external_site.title' | translate }}</h2>
                                <p>
                                    {{ 'index.privacy.links_external_site.part1' | translate }}
                                    <br>
                                    <br>
                                    {{ 'index.privacy.links_external_site.part2' | translate }}
                                    <br>
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.privacy.storage_data.title' | translate }}</h2>
                                <p>
                                    {{ 'index.privacy.storage_data.part1' | translate }}
                                    <br>
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.privacy.data_delete.title' | translate }}</h2>
                                <p>
                                    {{ 'index.privacy.data_delete.part1' | translate }}
                                    <br>
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.privacy.transfer.title' | translate }}</h2>
                                <p>
                                    {{ 'index.privacy.transfer.part1' | translate }}
                                    <br>
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.privacy.policy_change.title' | translate }}</h2>
                                <p>
                                    {{ 'index.privacy.policy_change.part1' | translate }}<br>
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.privacy.contact_information.title' | translate }}</h2>
                                <p>
                                    {{ 'index.privacy.contact_information.part1' | translate }}<br />
                                    Didux.io<br />
                                    Brugstraat 9, Almelo<br>
                                    {{ 'index.privacy.contact_information.part2' | translate }}<br>
                                    <br>
                                    {{ 'index.privacy.contact_information.part3' | translate }} <a
                                        href="mailto:info@proofme.id">info@proofme.id</a>.<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>