:host {
<<<<<<< HEAD

=======
    h3{
        font-size: 1.875em;
        color: var(--title-color);
        font-weight: 700;
        font-family: "Roboto", sans-serif;
        line-height: 1.5;  
    }
    h6{
        font-size: 19px;
        font-weight: bold;
        margin: 0 0 1.6em;
        color: var(--subtext-color);
        line-height: 1.75;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
    }
    p{
        font-size: 15px;
        margin: 0 0 1.6em;
        color: var(--white);
        line-height: 1.75;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
    }
    .contact-form button {
    
        padding: 15px 60px;
        font-size: 17px;
        background-color: #393539;
        border: none;
        color: #fff;
    }
>>>>>>> 8688c8e... main,terms,privacy
    .login-header {
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        z-index: 1;
        position: absolute;
        background: white;
        justify-content: space-between;
        padding-right: 50px;

        p {
            margin-bottom: 0;
            font-weight: 800;

            &:hover {
                cursor: pointer;
                opacity: 0.5;
            }
        }

        img {
            width: 50px;
            margin-left: 25px;
        }
    }

    .main-view-div {
        left: 0;
        top: 0;
<<<<<<< HEAD
        background: linear-gradient(to bottom, rgba(92, 77, 66, 0.6) 0, rgba(92, 77, 66, 0.6) 100%), url(/assets/img/bg-tech.jpg) no-repeat;
=======
        background: linear-gradient(to bottom, rgba(92, 77, 66, 0.6) 0, rgba(92, 77, 66, 0.6) 100%), url(/assets/img/background.jpg) no-repeat;
>>>>>>> 8688c8e... main,terms,privacy
        background-size: cover;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
<<<<<<< HEAD
        padding-left: 10vw;
        padding-right: 35vw;
=======
>>>>>>> 8688c8e... main,terms,privacy
    }

    .section-1 {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
<<<<<<< HEAD
        padding-left: 10vw;
        padding-right: 15vw;
=======
        // padding-left: 10vw;
        // padding-right: 15vw;
>>>>>>> 8688c8e... main,terms,privacy
    }

    .footer {
        background-color: gray;
        display: flex;
<<<<<<< HEAD
        padding-left: 10vw;
        padding-right: 15vw;
=======
        // padding-left: 10vw;
        // padding-right: 15vw;
>>>>>>> 8688c8e... main,terms,privacy
        padding-bottom: 5vh;
        padding-top: 5vh;
    }

    .footer-section {

        h1 {
            color: #F27D42;
<<<<<<< HEAD
            margin-bottom: 5vh;
        }
        p {
            color: white;
        }

        padding-right: 5vw;
    }
}
=======
            font-weight: 700;
            font-family: "Roboto", sans-serif;
            line-height: 1.5;
        }
        p {
            color: white;
            font-weight: 700;
            font-family: "Roboto", sans-serif;
            line-height: 1.5;
        }
        a{
            color: white;
            font-weight: 700;
            font-family: "Roboto", sans-serif;
            line-height: 1.5;
        }

        padding-right: 5vw;
        margin-left: 15px;
    }
}

.contact-wrapper {
        opacity: 1.0;
        background-image: url(/assets/img/contact-background.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        margin-bottom: 5px;
}
// .col-lg-6{
//     margin-bottom: 50px;
// }

// contact form scss
.contact-form {
	max-width: 930px;
	width: 100%;
	margin: auto;
	input, textarea {
		width: 100%;
		padding: 12px 25px;
		border: 1px solid #e2e7f3;
		box-shadow: 0 0 15px 0 rgba(var(--black), 0.06);
		outline: none;
		// @include border-radius(3px);
		// @include transition(0.3s);
		&:active,&:hover,&:focus {
			border-color: var(--base-color);
        }
	}
	input {
		margin-bottom: 50px;
		font-size: 14px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	textarea {
		font-size: 14px;
        height: 100%;
    }
    
	button {
		padding: 15px 60px;
		font-size: 14px;
		background-color: var(--base-color);
		border: none;
		color: var(--white);
		// @include transition(0.3s);
		// @include border-radius(3px);
		&:hover {
			color:  var(--white);
			background-color: var(--title-color);
		}
    }
}
>>>>>>> 8688c8e... main,terms,privacy
