
<div class="main-container">
    <app-main-header type="login"></app-main-header>
    <div class="main-view-div">
        <div class="main-title">
            <h1>Welcome to this awesome template</h1>
        </div>
        <div class="main-text">
            <h5>
                Using this template allows you to see how it's done. This is the landing page. Replace your icon in the top left
                corner and make a choice in the top right corner to navigate. Scroll to see some random section in the middle and a footer
                on the bottom. Have fun!
            </h5>
        </div>
    </div>
    <section class="section-1">
        <h2>This is some random section</h2>
        <p>
            And this is some random text beneith your main screen about some random things that will waste your time if you read too much. 
            You should change this text into something more meaningfull. You can scroll a bit more to the bottom of this page to see more things
            you probably want to replace.
        </p>
    </section>
    <div class="footer">
        <div class="footer-section">
            <h1>Cookies</h1>
            <p>Chocolate</p>
            <p>Prime</p>
            <p>Yummy</p>
            <p>Creamy</p>
        </div>
        <div class="footer-section">
            <h1>Drinks</h1>
            <p>Beer</p>
            <p>Wine</p>
            <p>Water</p>
            <p>Applejuice</p>
        </div>
    </div>
</div>

