.panel {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

    .title, .footer {
        flex-basis: 30px;
        flex-shrink: 0;

        padding-left: 5px;
        padding-right: 5px;

        display: flex;
        align-items: center;
    }

    .title {
        background-color: var(--white);
        font-weight: bold;
        border-bottom: 1px solid var(--lightGrey);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .content {
        flex: 1;

        padding: 5px;
    }
}