:root {
    // Header variables
    --header-height: 100px;
    --header-border-color: grey;
    
    //== Colors
    --black-color: #000;
    --base-color: var(--app-primary-color);;
    --custom-color: blue;
    --subtext-color: #9BA4AD;
    --black: #000;
    --white: #fff;
    
    // Menu variables
    --menu-width: 200px;
    --menu-background-color: #221E2B;
    --menu-border-color: #fff;
    --menu-color:#2c3e50;
    
    .background-img {
        left: 0;
        top: 0;
        background: linear-gradient(to bottom, rgba(92, 77, 66, 0.6) 0, rgba(92, 77, 66, 0.6) 100%), url(/assets/img/background.jpg) no-repeat;
        background-size: cover;
 
    }
    .checkbox-checked {
        background-color: goldenrod;
        border: 1px solid goldenrod;
        border-radius: 2px;
    }

    .checkbox-not-checked {
        background-color: grey;
        border: 1px solid grey;
        border-radius: 2px;
    }
}