:host {
    $blue-gray: #34495e;
    $blue-gray-darken: #2c3e50;
    $blue: #38BBEF;
    $blue-darken: white;
    $hover: #221E2B;
    $green-darken: #16a085;

    width: 100%;
    height: var(--header-height);
    box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.75);
    
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 25px;

    background: $blue-darken;
    color: white;

    .header-main-div {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding-right: 30px;
        color: var(--app-primary-color);
    }

    .header-main-title {
        padding-top: 7px;
    }

    .user-icon {
        font-size: 32px;
    }

    fa-icon {
        outline: none;
        
        &:hover {
            cursor: pointer;
            opacity: 0.6;
        }
    }

    .header-icons-div {
        justify-content: center;
        align-items: center;
        display: flex;

        fa-icon {
            padding-left: 16px;
        }

        p {
            margin-bottom: 0;
        }
    }

    .header-left-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 2vw;

        p {
            margin-bottom: 0;
        }
    }
}