<app-main-header type="login"></app-main-header>
<div class="container">
    <div class="main-view-div">
        <form [formGroup]=finishRegistrationForm class="registrateForm">
            <div class="form-group">
                <label>
                    Username
                </label>
                <input type="text" class="form-control" formControlName="username">
            </div>
            <div class="checkbox-div">
                <input type="checkbox" id="termsAndPrivacy" name="termsAndPrivacy"
                    formControlName="termsAndPrivacyAccepted">
                <label for="termsAndPrivacy">I Accept the <a href="/privacy-policy" target="_blank">privacy policy</a>
                    and <a href="/terms-and-conditions" target="_blank">terms & conditions</a></label>
            </div>
            <div class="checkbox-div">
                <input type="checkbox" id="newsLetter" name="newsLetter" formControlName="newsLetter">
                <label for="newsLetter">I want to subscribe to the newsletter</label>
            </div>
            <button class="btn btn-success" (click)="registrate()" [disabled]="!finishRegistrationForm.valid">
                {{ 'PROFILE.registrate_button' | translate }}
            </button>
        </form>
    </div>
</div>

