:host {

    .main-view-div {
        height: 100vh;
        width: 100%;
        overflow: hidden;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .background-img{
        left: 0;
        top: 0;
        background: linear-gradient(to bottom, rgba(92, 77, 66, 0.6) 0, rgba(92, 77, 66, 0.6) 100%), url(/assets/img/background.jpg) no-repeat;
        background-size: cover;
    }

    .disconnect-overlay {
        position: absolute;
        z-index: 1;
        height: 210px;
        width: 210px;
        margin-left: 40px;

        &:hover {
            cursor: pointer;
        }

        p {
            padding-top: 85px;
        }
    }

    .registrateForm {
        width: 600px;

        button {
            width: 100%;
        }
    }

    .registration-success-div {
        background: var(--white);
        color: var(--black);
        padding: 20px;
        border-radius: 25px;
        display: flex!important;
        flex-direction: column!important;
        align-items: center;
    }

    .checkbox-div {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        label {
            margin-left: 8px;
            margin-bottom: 0;
        }
    }
    a{
        color:var(--green);
    }
    a, button{
        &:hover {
            color: var(--white);
            cursor: pointer;
        }
    }
}