<div class="container">
    <h2>{{ 'PROFILE.title' | translate }}</h2>
    <hr>
    <form [formGroup]=profileForm>
        <div class="form-group">
            <label>
                {{ 'PROFILE.username' | translate }}
            </label>
            <input type="text" class="form-control" formControlName="username">
        </div>
        <div class="form-group">
            <label>
                {{ 'PROFILE.email' | translate }}
            </label>
            <input type="text" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
            <label>
                {{ 'PROFILE.role' | translate }}
            </label>
            <input type="text" class="form-control" formControlName="role">
        </div>
        <button class="btn btn-success" (click)="updateProfile()" [disabled]="!profileForm.valid">
            {{ 'PROFILE.update_button' | translate }}
        </button>
    </form>
    <br>
    <h2>{{ 'PROFILE.choose_language' | translate }}</h2>
    <hr>
    <div class="form-group">
        <label>{{ 'PROFILE.language' | translate }}</label>
        <ngx-select [items]="languages" [defaultValue]="language$ | async" optionValueField="key" optionTextField="name"
            [formControl]="selectLanguage"></ngx-select>
    </div>
</div>