:host {
    flex: 1;
    overflow-y: auto;

    .container {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .avatar_div {
        background: var(--white);
        width: 240px;
    }

    .avatar_img {
        width: 200px;
        margin: 20px;
    }

    .avatar_button {
        width: 100%;
        outline: none;
        border: none;
        padding-top: 8px;
        padding-bottom: 8px;
        border-top: 1px solid #aaa;
        background: whitesmoke;
        text-align: center;
        padding-left: 16px;

        &:hover {
            background: var(--lightGrey);
        }
    }

    .organisations-title {
        margin-bottom: 24px;
    }

    .invite-id {
        font-weight: bold;
    }
}