<app-main-header></app-main-header>
<div class="main-container">
    <div class="background-img">
        <!-- page-header start -->
        <section class="page-header d-flex align-items-center justify-content-center">

            <div class="page-header-content">

                <h1>{{ 'TITLE.terms' | translate }}</h1>
            </div>

        </section>
    </div>
    <!-- page-header end -->

    <!-- innerpage-section -->

    <div class="container">
        <div class="inner-page-section mt---120 pt--170 card pb--70 pb_lg-120">
            <div class="row">
                <main class="col-lg-12 main-content">
                    <div class="entry-wrapper">
                        <div class="entry-single">
                            <div class="entry-content">
                                <img src="/assets/img/logo.png" class="image">
                            </div>
                            <br>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.updated' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.date' | translate }}<br>
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.about.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.about.text' | translate }}
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.modification.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.modification.text' | translate }}
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.acceptance.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.acceptance.text' | translate }}
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.general.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.general.text' | translate }}
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.translation.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.translation.text' | translate }}
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.eligibility.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.eligibility.text' | translate }}
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.account_password_security.title' | translate }}
                                </h2>
                                <p>
                                    {{ 'index.terms.account_password_security.text' | translate }}
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.representations.title' | translate }}</h2>
                                <h2 class="title mb-3">{{ 'index.terms.warranty.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.warranty.text' | translate }}
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.sophistication.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.sophistication.text' | translate }}
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.risk_of_regulatory.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.risk_of_regulatory.text' | translate }}
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.risk_of_weaknesses.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.risk_of_weaknesses.text' | translate }}
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.volatility.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.volatility.text' | translate }}
                                </p>
                            </div>


                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.application_security.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.application_security.text' | translate }}
                                </p>
                            </div>


                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.indemnity.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.indemnity.text' | translate }}
                                </p>
                            </div>


                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.limitation.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.limitation.text' | translate }}
                                </p>
                            </div>


                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.proprietary_rights.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.proprietary_rights.text' | translate }}
                                </p>
                            </div>


                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.links.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.links.text' | translate }}
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.termination_suspension.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.termination_suspension.text' | translate }}
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.no_third_party.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.no_third_party.title' | translate }}
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.notice_and_procedure.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.notice_and_procedure.subtitle' | translate }}<br>
                                    {{ 'index.terms.notice_and_procedure.1' | translate }}<br>
                                    {{ 'index.terms.notice_and_procedure.2' | translate }}<br>
                                    {{ 'index.terms.notice_and_procedure.3' | translate }}<br>
                                    {{ 'index.terms.notice_and_procedure.4' | translate }}<br>
                                    {{ 'index.terms.notice_and_procedure.5' | translate }}<br>
                                    {{ 'index.terms.notice_and_procedure.6' | translate }}<br>
                                    {{ 'index.terms.notice_and_procedure.contact_information.part1' | translate }}<br>
                                    Email; info@didux.io<br>
                                    {{ 'index.terms.notice_and_procedure.contact_information.part2' | translate }}<br>
                                    Lusthofstraat 17 B<br>
                                    3062 WB Rotterdam<br>
                                    {{ 'index.terms.notice_and_procedure.contact_information.part3' | translate }}
                                </p>
                            </div>


                            <div class="entry-content">
                                <h2 class="title mb-3">
                                    {{ 'index.terms.binding_arbitration_class_action_waiver.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.binding_arbitration_class_action_waiver.text' | translate }}
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.initial_dispute.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.initial_dispute.text' | translate }}
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.binding_arbitration.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.binding_arbitration.text' | translate }}
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.location.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.location.text' | translate }}
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.class_action_waiver.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.class_action_waiver.text' | translate }}
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.exception.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.exception.text' | translate }}
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.30_day_right.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.30_day_right.text' | translate }}
                                </p>
                            </div>


                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.changes_to_section.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.changes_to_section.text' | translate }}
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.general_info.title' | translate }}</h2>
                                <h2 class="title mb-3">{{ 'index.terms.entire_agreement.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.entire_agreement.text' | translate }}
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.waiver_severability.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.waiver_severability.text' | translate }}
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.statute_limitations.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.statute_limitations.text' | translate }}
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.section_titles.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.section_titles.text' | translate }}
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.communications.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.communications.text' | translate }}
                                </p>
                            </div>

                            <div class="entry-content">
                                <h2 class="title mb-3">{{ 'index.terms.related_links.title' | translate }}</h2>
                                <p>
                                    {{ 'index.terms.related_links.text' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>