:host {
    display: flex;

    width: 100%;
    height: 100%;

    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: scroll;
        background-color: var(--content-background-color);
    }
}