<nav class="navbar navbar-expand-sm sticky-top navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" (click)="navigateToMainPage()"><img src="/assets/img/logo.png" class="image" alt="logo">
			{{ 'HEADER.company' | translate }}</a>
		<button class="navbar-toggler" type="button"
			(click)="toggleMobileHamburger()">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<p class="nav-link active" (click)="navigateToLogin()">
						{{ 'HEADER.login' | translate }}</p>
				</li>
				<li class="nav-item">
					<p class="nav-link" (click)="navigateToRegistrate()">
						{{ 'HEADER.registrate' | translate }}</p>
				</li>

				<li class="nav-item dropdown">
					<p class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
						(click)="toggleAccountDropdown()" (click)="isLanguageCollapsed = true"
						data-toggle="dropdown">
						{{ 'HEADER.account' | translate }}</p>
					<div [ngbCollapse]="isAccountCollapsed" class="dropdown-menu" aria-labelledby="navbarDropdown">
						<p class="dropdown-item" (click)="navigateToLogin()">
							{{ 'HEADER.login' | translate }}</p>
						<p class="dropdown-item" (click)="navigateToRegistrate()">
							{{ 'HEADER.registrate' | translate }}</p>
						<p class="dropdown-item" (click)="navigateToLogin()">
							{{ 'HEADER.myaccount' | translate }}</p>
						<div class="dropdown-divider"></div>
						<p class="dropdown-item" (click)="navigateToMainPage()">{{ 'HEADER.logout' | translate }}</p>
					</div>
				</li>
				<li class="nav-item dropdown">
					<p class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
						(click)="toggleLanguageDropdown()" (click)="isAccountCollapsed = true"
						data-toggle="dropdown">
						{{ 'HEADER.language' | translate }}</p>
					<div [ngbCollapse]="isLanguageCollapsed" class="dropdown-menu" aria-labelledby="navbarDropdown">
						<p class="dropdown-item" (click)="selectLanguage('nl')" (click)="isLanguageCollapsed = true">
							{{ 'HEADER.dutch' | translate }}</p>
						<p class="dropdown-item" (click)="selectLanguage('en')" (click)="isLanguageCollapsed = true">
							{{ 'HEADER.english' | translate }}</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>