:host {
    .nav-link {
        color: var(--menu-color);
        margin-top: revert;
    }
}
a:not([href]):not([tabindex]) {
    font-size: 20px;
    font-weight: 500;
}
.sticky-top {
    position: fixed;
    width: 100%;
}