<!-- <div class="main-header">
        <img src="/assets/img/logo.png" (click)="toMainPage()" class="header-logo" />
        <p *ngIf="type === 'login'" (click)="navigateToLogin()">Login</p>
        <p *ngIf="type === 'registrate'" (click)="navigateToRegistrate()">Registreer</p>
</div> -->

<nav class="navbar navbar-expand-sm sticky-top navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" (click)="navigateToMainPage()"><img src="/assets/img/logo.png"
				style="width: 50px;">{{ 'HEADER.company' | translate }}</a>
		<button class="navbar-toggler" type="button"
			(click)="isMenuCollapsed = !isMenuCollapsed && isAccountCollapsed==false">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<p class="nav-link active" (click)="navigateToLogin()">
						{{ 'HEADER.login' | translate }}</p>
				</li>
				<li class="nav-item">
					<p class="nav-link" (click)="navigateToRegistrate()">
						{{ 'HEADER.registrate' | translate }}</p>
				</li>

				<li class="nav-item dropdown">
					<p class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
						(click)="isAccountCollapsed = !isAccountCollapsed" (click)="isLanguageCollapsed = true"
						data-toggle="dropdown">
						{{ 'HEADER.account' | translate }}</p>
					<div [ngbCollapse]="isAccountCollapsed" class="dropdown-menu" aria-labelledby="navbarDropdown">
						<p class="dropdown-item" (click)="navigateToLogin()">
							{{ 'HEADER.login' | translate }}</p>
						<p class="dropdown-item" (click)="navigateToRegistrate()">
							{{ 'HEADER.registrate' | translate }}</p>
						<p class="dropdown-item" (click)="navigateToLogin()">
							{{ 'HEADER.myaccount' | translate }}</p>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" (click)="navigateToMainPage()">{{ 'HEADER.logout' | translate }}</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<p class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
						(click)="isLanguageCollapsed = !isLanguageCollapsed" (click)="isAccountCollapsed = true"
						data-toggle="dropdown">
						{{ 'HEADER.language' | translate }}</p>
					<div [ngbCollapse]="isLanguageCollapsed" class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/nl-NL/#">{{ 'HEADER.dutch' | translate }}</a>
						<a class="dropdown-item" href="/en-US/#">{{ 'HEADER.english' | translate }}</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>