:host {
    .nav-link {
        color: var(--menu-color);
        margin-top: revert;
        &:hover {
            cursor: pointer;
        }
    }
}
a:not([href]):not([tabindex]) {
    font-size: 20px;
    font-weight: 500;
}
.sticky-top {
    position: fixed;
    width: 100%;
}

.dropdown-item {
    &:hover {
        cursor: pointer;
    }
}
.navbar-brand{
    color: var(--menu-color);
    &:hover {
        cursor: pointer;
    }
}